

#loading-container {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -14px 0 0 -42px;
  padding: 10px;
  background: rgba(20, 20, 20, 0.9);
  border-radius: 5px;
  box-shadow: inset 0 0 5px #000, 0 1px 1px rgba(255, 255, 255, 0.1);
}

.loading-dot {
  float: left;
  width: 8px;
  height: 8px;
  margin: 0 4px;
  background: #fff;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 2px #000;
  animation: loadingFade 1s infinite;
}

.loading-dot:nth-child(1) {
  animation-delay: 0s;
}

.loading-dot:nth-child(2) {
  animation-delay: 0.1s;
}

.loading-dot:nth-child(3) {
  animation-delay: 0.2s;
}

.loading-dot:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes loadingFade {
  0%   { opacity: 0; }
  50%  { opacity: 0.8 }
  100% { opacity: 0; }
}

@keyframes fadeout {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}

.fadeOut {
  opacity: 0;
  animation: fadeout 0.3s linear;
}

#main-container {
  visibility: hidden;
}

.key-container {
  border: solid 1px red;
  min-width: 300px;
  max-width: 500px;
  height: 500px;
  margin: 100px auto;
  overflow: auto;
}

.key {
  width: 60px;
  height: 60px;
  padding: 20px;
  margin: 8px;
  border: 2px solid #333;
  border-radius: 8px;
  float: left;
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
  color: #333;
  text-align: center;
  transition: all 0.07s;
}

kbd {
  display: block;
}

.active {
  transform: scale(1.1);
  border-color: red;
  box-shadow: 0 0 10px #333;
}
