
#loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: teal;
  z-index: 100;
}

.key-container {
  border: solid 1px red;
  min-width: 300px;
  max-width: 500px;
  height: 500px;
  margin: 0 auto;
  overflow: auto;
}

.key {
  width: 60px;
  height: 60px;
  padding: 20px;
  margin: 8px;
  border: 2px solid #333;
  border-radius: 8px;
  float: left;
  font-weight: bold;
  font-size: 30px;
  line-height: 60px;
  color: #333;
  text-align: center;
  transition: all 0.07s;
}

kbd {
  display: block;
}

.active {
  transform: scale(1.1);
  border-color: red;
  box-shadow: 0 0 10px #333;
}
